
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">The Enventbrite Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="Navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%=events_path%>">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_event_path %>">Add Event</a>
      </li>
      <li class="nav-item">
      <div class="dropdown">
            <% if user_signed_in? %>
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon Profil</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="<%=user_path(current_user)%>">Détails profil</a>              
                <a class="dropdown-item" href="<%= destroy_user_session_path %>" data-confirm="Êtes-vous sûr ?" data-method="DELETE" >Disconnect</a></p>   
              </div>
            <% else %>
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Se connecter/S'inscrire</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/users/sign_up">Sign Up</a>              
                <a class="dropdown-item" href="/users/sign_in">Sign In</a>              
              </div>
            <% end %>
      </div>
      </li>
    </ul>
  </div>
</nav>

<br>
<br>
<div class="container">
  <div class="row">
  <% @events.each do |event| %> 
    <div class="col-sm-6 card-deck">
    <div class="card mb-3" style="width: 20rem; text-align: center">
      <div class="card-body">
        <h5 class="card-title"><%= event.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Admin :<%= User.find_by(id:event.user_id).first_name %></h6>
            <p class="card-text"><%= event.description %></p>
            <p class="card-text">Start Date : <%= event.start_date %></p>            
            <a href="<%= event_path(event.id) %>" class="card-link btn btn-dark">Show</a>
      </div>
    </div>
    </div>
  <% end %>   
  </div>
</div>
logged in as <%=current_user.email%>
<div class="left_a" style="margin-right:10px;"><a href="<%= new_event_path%>" class ="btn btn-light">Créer un Event</a></div>