<h1>ceci est la page show</h1>
<div class="jumbotron text-center bg-dark text-light">
  <h1>Titre: <%= @event.title %></h1>
  <p>Description: <%= @event.description %> </p>
  <p>nb d'inscrits: <%= Participation.where(event_id:@event.id).length %> </p>
  <p>Contact Orga: <%= User.find_by(id: @event.user_id).email %></p> 
  <a class="btn btn-primary" href="<%=events_path%>" >Back</a>
  <a href="<%= user_path(@event.user_id) %>" class="card-link btn btn-dark">Admin Profile</a>
  <a class="btn btn-primary" href="/events/<%= @event.id %>/participations">Participations</a>
</div>

<% if !(Participation.where(event_id:@event.id).map{|u| u.user_id}.include?(current_user.id)) && !(@event.user_id == current_user.id) %>  
  <a href="<%= new_event_charge_path(@event.id) %>" class="card-link btn btn-dark">Inscription</a>
<% end %>

<% if @event.user_id == current_user.id %>  
  <a href="<%=  event_participations_path(params[:id]) %>" class="card-link btn btn-dark">Mon Espace Evenement</a>
<% end %>